<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Cuisine</th>
      <th>Neighborhood</th>
      <th>Date Dined</th>
      <th>Notes</th>
    </tr>
  </thead>

    <tbody>
      {{#each restaurants as |restaurant|}}
      <tr data-id="{{restaurant.id}}">
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.city}}</td>
        <td>{{restaurant.cuisine}}</td>
        <td>{{restaurant.neighborhood}}</td>
        <td>{{restaurant.date_dined}}</td>
        <td>{{restaurant.notes}}</td>
        <td>
          <button class="btn btn-default update-btn" data-id="{{restaurant.id}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
        <td>
          <button class="btn btn-default delete-btn" data-id="{{restaurant.id}}">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
        {{/each}}
    </tbody>

</table>
